<section class="header-container-content">
    <div class="header-container-info">
        <h1 class="header-logo">
            Gifts & Merch
        </h1>
        <div class="header-search-form">
            <img src="../img/svg/search.svg" alt="#" class="header-search-logo">
            <form class="search-field" action="#" method="get">
                <input type="text" placeholder="Поиск">
            </form>
        </div>
        <button class="header-phone-btn">
            +380 630 130 103
        </button>
        <a href="#" class="header-user-info"><img class="header-user-logo" src="../img/svg/user.svg" alt="#"></a>
        <div class="header-language-btn">
            <a href="#" class="lang-toggle-btn lang-toggle-btn__ru">ru</a>
            <a href="#" class="lang-toggle-btn lang-toggle-btn__en">/en</a>
        </div>
    </div>
</section>

<!--ШАПКА САЙТА ДЛЯ ЭКРАНА ОТ 768-->

<section class="header-container-mobile__fluid">
    <div class="header-container-content__mobile">
        <h1 class="header-logo__mobile">
            Gifts & Merch
        </h1>
        <button type="button" class="header-search-btn__mobile">
            <img src="../img/search-big.png" alt="" class="header-search-logo__mobile">
        </button>
        <button class="header-phone-btn__mobile">
            +380 630 130 103
        </button>
        <div class="header-menu__mobile">
            <button class="header-menu-item__mobile">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</section>
