<section class="navigation-container__fluid">
    <div class="navigation-container-content">
        <div class="navigation-menu-box">
            <ul class="navigation-menu-list">
                <li class="navigation-menu-item"><a href="#" class="navigation-menu-link">Наборы</a></li>
                <li class="navigation-menu-item"><a href="#" class="navigation-menu-link">Все товары</a></li>
                <li class="navigation-menu-item"><a href="#" class="navigation-menu-link">Пошив</a></li>
                <li class="navigation-menu-item"><a href="#" class="navigation-menu-link">Производство</a></li>
                <li class="navigation-menu-item"><a href="#" class="navigation-menu-link">Информация</a></li>
            </ul>
        </div>
        <div class="sale-box">
            <h2 class="sale-box-title">Шопперы со скидкой - 25%</h2>
        </div>
    </div>
</section>



