.header-container-content {
  width: 100%;
  max-width: 1520px;
  //padding: 0 10px;
  display: flex;
  align-items: center;

  @include small-tablet {
    display: none;
  }

  .header-container-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 148px;
    padding: 0 10px;

    @include tablet {
      min-height: 115px;
    }

    @media (max-width: (923px)) {
      min-height: 93px;
    }

    @media (max-width: (830px)) {
      min-height: 80px;
    }

    .header-logo {
      font-family: GilroyBold, serif;
      font-size: 64px;
      line-height: 56px;
      text-transform: uppercase;
      letter-spacing: 10px;

      @media (max-width: (1602px)) {
        font-size: 58px;
        letter-spacing: 8px;
      }

      @media (max-width: (1500px)) {
        font-size: 53px;
        letter-spacing: 6px;
      }

      @media (max-width: (1420px)) {
        font-size: 47px;
        letter-spacing: 4px;
      }

      @media (max-width: (1300px)) {
        font-size: 45px;
      }

      @media (max-width: (1169px)) {
        font-size: 42px;
      }

      @include tablet {
        font-size: 36px;
      }

      @media (max-width: (923px)) {
        font-size: 32px;
      }

      @media (max-width: (830px)) {
        font-size: 28px;
      }
    }

    .header-search-form {
      width: 100%;
      max-width: 370px;
      min-height: 52px;
      display: flex;
      align-items: center;
      padding: 0 12px;
      border-radius: 29px;
      border: 2px solid $darkTextColor;

      &:hover {
        background: $pinkHoverBtn;
        border: 2px solid $pinkHoverBtn;
      }

      @media (max-width: (1500px)) {
        min-height: 47px;
      }

      @media (max-width: (1400px)) {
        max-width: 300px;
      }

      @media (max-width: (1200px)) {
        max-width: 250px;
        min-height: 41px;
      }

      @include tablet {
        max-width: 220px;
        min-height: 39px;
      }

      @media (max-width: (923px)) {
        max-width: 190px;
      }

      @media (max-width: (830px)) {
        max-width: 167px;
        min-height: 30px;
      }

      .header-search-logo {
        width: 100%;
        max-width: 24px;
        min-height: 24px;
        margin-left: 11px;
        margin-right: 18px;

        @include tablet {
          max-width: 16px;
          min-height: 16px;
          margin-right: 6px;
          margin-left: 0;
        }
      }

      .search-field {
        width: 100%;

        input {
          outline: none;
          border: none;
          width: 100%;
          min-height: 45px;
          background: transparent;
          font-size: 16px;
          font-family: Gilroy-Medium, sans-serif;

          @media (max-width: (1420px)) {
            min-height: 40px;
          }

          @media (max-width: (1169px)) {
            min-height: 36px;
          }

          @media (max-width: (1169px)) {
            font-size: 14px;
          }

          @media (max-width: (830px)) {
            min-height: 31px;
          }
        }
      }
    }

    .header-phone-btn {
      width: 100%;
      max-width: 259px;
      min-height: 57px;
      background: $greenBtnNormal;
      border-radius: 29px;
      border: none;
      font-size: 18px;
      font-family: Gilroy-SemiBold, sans-serif;
      color: $mainBackground;


      &:hover {
        background: $greenBtnActive;
        cursor: pointer;
        color: #8E8E8E;
      }

      &:active {
        background: $greenBtnActive;
      }

      @media (max-width: (1500px)) {
        min-height: 52px;
        max-width: 240px;
      }

      @media (max-width: (1300px)) {
        max-width: 210px;
      }

      @media (max-width: (1200px)) {
        max-width: 185px;
        min-height: 48px;
        font-size: 15px;
      }

      @media (max-width: (1100px)) {
        max-width: 165px;
        font-size: 14px;
      }

      @include tablet {
        max-width: 148px;
        font-size: 13px;
        min-height: 45px;
      }

      @media (max-width: (923px)) {
        max-width: 150px;
        font-size: 12px;
      }

      @media (max-width: (830px)) {
        max-width: 136px;
        font-size: 12px;
        min-height: 37px;
      }
    }

    .header-user-info {
      width: 100%;
      max-width: 40px;
      min-height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: $pinkHoverBtn;
        border-radius: 6px;
      }

      .header-user-logo {
        width: 100%;
        max-width: 40px;
        min-height: 40px;


        @media (max-width: (1169px)) {
          max-width: 33px;
          min-height: 33px;
        }

        @include tablet {
          max-width: 30px;
          min-height: 31px;
        }

        @media (max-width: (923px)) {
          max-width: 27px;
        }

        @media (max-width: (830px)) {
          max-width: 25px;
        }
      }
    }

    .header-language-btn {
      display: flex;
      padding-right: 20px;

      .lang-toggle-btn {
        font-size: 18px;
        font-family: Gilroy-Regular, sans-serif;
        text-transform: uppercase;
        color: $lightGrayTextColor;

        &:hover {
          color: $greenBtnActive;
          transform: scale(1.1);
        }

        @media (max-width: (1169px)) {
          font-size: 16px;
        }

        @include tablet {
          font-size: 14px;
        }

        @media (max-width: (830px)) {
          font-size: 12px;
        }

        &__ru {
          color: $darkTextColor;
          font-family: Gilroy-SemiBold, sans-serif;
          font-weight: 700;
        }
      }
    }
  }
}

//СТИЛИ ДЛЯ ШАПКИ САЙТА С РАЗМЕРОМ ЭКРАНА ОТ 768

.header-container-mobile__fluid {
  display: none;
  width: 100%;
  background: $navigationColor;
  min-height: 77px;
  justify-content: center;

  @include small-tablet {
    display: flex;
  }

  @include mobile {
    min-height: 61px;
  }

  .header-container-content__mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1580px;
    min-height: 77px;
    padding: 0 10px;


    @media (max-width: (400px)) {
      min-height: 61px;
    }

    .header-logo__mobile {
      font-family: GilroyBold, serif;
      font-size: 30px;
      line-height: 40px;
      text-transform: uppercase;
      letter-spacing: 6px;

      @media (max-width: (700px)) {
        letter-spacing: 5px;
      }

      @media (max-width: (640px)) {
        letter-spacing: 4px;
        font-size: 28px;
      }

      @media (max-width: (560px)) {
        letter-spacing: 3px;
        font-size: 24px;
      }

      @include mobile {
        font-size: 22px;
      }

      @media (max-width: (400px)) {
        font-size: 20px;
      }

      @include mini-mobile {
        font-size: 18px;
      }
    }

    .header-search-btn__mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;

      &:hover {
        background: $pinkHoverBtn;
        transform: scale(1.1);
        border-radius: 6px;
        padding: 7px;
      }

      .header-search-logo__mobile {
        width: 100%;
        max-width: 24px;
        min-height: 24px;

        @media (max-width: (520px)) {
          max-width: 22px;
          min-height: 22px;
        }
      }
    }

    .header-phone-btn__mobile {
      width: 100%;
      max-width: 198px;
      min-height: 36px;
      background: $greenBtnNormal;
      border-radius: 23px;
      border: none;
      font-size: 16px;
      font-family: Gilroy-SemiBold, sans-serif;
      color: $mainBackground;


      &:hover {
        background: $greenBtnActive;
        cursor: pointer;
        color: #8E8E8E;
      }

      &:active {
        background: $greenBtnActive;
      }

      @media (max-width: (700px)) {
        max-width: 177px;
        min-height: 35px;
        font-size: 15px;
      }

      @media (max-width: (640px)) {
        max-width: 146px;
        min-height: 33px;
        font-size: 15px;
      }

      @media (max-width: (560px)) {
        max-width: 133px;
        min-height: 31px;
        font-size: 13px;
      }

      @media (max-width: (520px)) {
        max-width: 107px;
        min-height: 26px;
        font-size: 10px;
      }

      @include mobile {
        display: none;
      }
    }

    .header-menu__mobile {
      margin-right: 10px;


      .header-menu-item__mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 31px;
        height: 23px;
        border: none;
        padding: 0;
        visibility: hidden;

        &:hover > span {
          background-color: white;
        }

        @media (max-width: (560px)) {
          margin-left: 10px;
        }

        @media (max-width: (520px)) {
          height: 21px;
        }

        @include mobile {
          height: 19px;
          margin-left: 0;
          max-width: 28px;
        }

        @media (max-width: (400px)) {
          max-width: 25px;
          height: 16px;
        }

        @include mini-mobile {
          max-width: 23px;
        }
      }


      //.header-menu-mobile-item__active {
      //  position: fixed;
      //  right: 10px;
      //
      //  span:first-child {
      //    transform: translate(6px, -2px) rotate(-45deg);
      //    transform-origin: left top;
      //  }
      //
      //  span:last-child {
      //    transform: translate(-9px, -24px) rotate(45deg);
      //    transform-origin: right bottom;
      //  }
      //}
      .header-menu-item__mobile > span {
        display: block;
        width: 100%;
        max-width: 31px;
        min-height: 4px;
        border-radius: 6px;
        background: $darkTextColor;
        visibility: visible;
        z-index: 2;
        transition: all 0.1s;


        //&:hover {
        //  background-color: $greenBtnActive;
        //}

        @media (max-width: (560px)) {
          max-width: 27px;
          min-height: 3px;
        }

        @include mobile {
          max-width: 25px;
        }
      }
    }
  }
}
