.navigation-container__fluid {
  width: 100%;
  background-color: $navigationColor;
  display: flex;
  min-height: 100px;
  justify-content: center;

  @include small-tablet {
    display: none;
  }

  .navigation-container-content {
    display: flex;
    width: 100%;
    max-width: 1520px;
    min-height: 100px;
    //padding: 0 10px;

    .navigation-menu-box {
      width: 100%;
      max-width: 999px;
      min-height: 100px;

      .navigation-menu-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
        border-right: 1px solid $extraLightGray;


        .navigation-menu-item {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          list-style: none;
          width: 100%;
          max-width: 140px;
          min-height: 100px;
          border-radius: 6px;
          margin: 0 5px;
          color: $darkTextColor;

          &:hover {
            background-color: $darkTextColor;
          }

          &:hover > a {
            color: white;
          }

          &:hover::after {
            position: absolute;
            content: "";
            background-color: $darkTextColor;
            width: 100%;
            height: 8px;
            top: 110px;
            right: 0;
            border-radius: 6px;
          }

          .navigation-menu-link {
            position: relative;
            display: flex;
            width: 100%;
            min-height: 100px;
            padding: 0 10px;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-family: Gilroy-ExtraBold, serif;
            font-size: 18px;
            white-space: nowrap;
            color: $darkTextColor;
          }
        }
      }
    }

    .sale-box {
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 561px;
      max-height: 100px;
      background: url("../img/sale-product.png") no-repeat 18em 0;
      margin-left: 10px;

      @media (max-width: (1134px)) {
        background-position: 13em;
      }

      @include tablet {
        background-position: 7em;
      }

      @media (max-width: (927px)) {
        background-position: 2em;
      }

      @media (max-width: (848px)) {
        background-position: -2em;
      }

      @media (max-width: (800px)) {
        background-position: -4em;
      }

      &-title {
        display: inline-block;
        font-family: Gilroy-ExtraBold, Serif;
        font-size: 38px;
        text-transform: uppercase;
        text-align: center;
        white-space: nowrap;
        z-index: 2;

        @media (max-width: (1546px)) {
          font-size: 35px;
        }

        @media (max-width: (1222px)) {
          font-size: 30px;
          max-width: 250px;
          text-align: left;
        }
        @media (max-width: (1100px)) {
          font-size: 28px;
          white-space: pre-wrap;
        }

        @media (max-width: (925px)) {
          max-width: 210px;
          font-size: 23px;
          margin-left: 0;
        }

        @media (max-width: (860px)) {
          font-size: 18px;
        }

        @media (max-width: (800px)) {
          font-size: 16px;
        }
      }
    }
  }
}

