@font-face {
  font-family: 'GilroyBold';
  src: url('/fonts/Gilroy-Bold.woff');
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('/fonts/Gilroy-Regular.woff');
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('/fonts/Gilroy-SemiBold.woff');
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('/fonts/Gilroy-Medium.woff');
}


@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('/fonts/Gilroy-ExtraBold.woff');
}

@font-face {
  font-family: 'Gilroy-Black';
  src: url('/fonts/Gilroy-Black.woff');
}