$mainBackground: #EEF1F6;
$greenBtnNormal: #1FAB8A;
$greenBtnActive: #07775d;
$darkTextColor: #272525;
$lightGrayTextColor: #8E8E8E;
$darkBlue: #3C336C;
$extraLightGray: #C4C4C4;
$whiteFont: #ffffff;
$navigationColor: rgba(250, 251, 253, 0.4);
$purpleBgcGradient: linear-gradient(45deg, rgb(151, 150, 240), rgb(251, 199, 212));
$pinkHoverBtn: #d3add3;
$pinkBanner: #EACEFF;
